@media screen and (max-width: 1199px) {

    .bio {
        margin: 0;
   }

   #bioSec {
    padding: 50px;
    }

   #story {
        line-height: revert;
        text-indent: 30px;
        display: inherit;
        margin: 20px;
    }

    #contactSec {
        padding: 170px 0px;
    }

    form {
        width: 60%;
    }

    #profs {
        margin-top: 80px;
        padding-top: 50px;
        margin-left: 0px;
    }

    #conMarg {
        background-color: blue;
        flex-flow: wrap;
    }
    
    #projRow {
        background-color: blue;
    }
}

/* media query for tablets and smaller*/
@media screen and (max-width: 668px) {

    .bio {
        margin: 0;
   }

   #bioSec {
    padding: 50px;
    }

   #story {
        line-height: revert;
        text-indent: 30px;
        display: inherit;
        margin: 20px;
    }

    .flex-row {
        display: flex;
        justify-content: center;
    }

    header {
        padding: 0;
    }

    header a {
        display: flex;
        justify-content: center;
    }

    .navAs {
        justify-content: center;
    }

    #name {
        margin: 0px 1px 5px 1px;
        font-variant: small-caps;
        padding: 0px 4px;
    }

    #contactSec {
        padding: 170px 0px;
    }

    form {
        width: 80%;
    }

    #profs {
        margin-top: 80px;
        padding-top: 50px;
        margin-left: 0px;
    }

}
   
/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
   
    .bio {
        margin: 0;
   }

   #bioSec {
    padding: 50px;
    }

   #story {
        line-height: revert;
        text-indent: 30px;
        display: inherit;
        margin: 20px;
    }

    .flex-row {
        display: flex;
        justify-content: center;
    }

    header {
        padding: 0;
    }

    header a {
        display: flex;
        justify-content: center;
    }

    .navAs {
        justify-content: start;
    }

    #name {
        margin: 0px 1px 5px 1px;
        font-variant: small-caps;
        padding: 0px 4px;
    }

    #contactSec {
        padding: 170px 0px;
    }

    form {
        width: 80%;
    }

    #profs {
        margin-top: 80px;
        padding-top: 50px;
        margin-left: 0px;
    }
 
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 415px) {
   
    .photo {
        height:50vw;
        width: 45vw;
    }

    .bio {
        margin: 20px 0px 30px 0px;
   }

   #bioSec {
        padding: 33px 30px 60px 30px;
    }

   #story {
        line-height: revert;
        text-indent: 30px;
        display: inherit;
        padding: 10px;
        font-size: 2px;
    }
    p {
        font-size: 3.4vw;
    }

    .flex-row {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .header {
        font-size: 5vw;
    }

    header {
        padding: 0;
    }

    header a {
        display: flex;
        justify-content: center;
    }

    .navAs {
        justify-content: normal;
        font-size: 2.8vw;
        word-spacing: 2px;
        padding: 0;
        align-self: center;
        display: flex;
    }

    #name {
        margin: 0px 1px 5px 1px;
        font-variant: small-caps;
        padding: 10px 4px;
        font-size: 5vw;
    }

    #contactSec {
        padding: 170px 0px;
    }

    form {
        width: 80%;
    }

    #profs {
        margin-top: 80px;
        padding-top: 50px;
        margin-left: 0px;
    }

    #project {
        width: 20rem;
    }

    #conMarg {
        margin-left: 15%;
        flex-flow: wrap;
        width: 380px;
    }

    #projRow {
        flex-wrap: inherit;
        display: flex;
        width: 80vw;
        justify-content: right;
    }
 
}